html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

main {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background-color: #477abb;
    flex-basis: 500px;
    border-radius: 5%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 75px;
    justify-content: space-between;
}

.calculator .display {
    flex-basis: 125px;
    max-width: 400px;
    max-height: 125px;
    overflow: hidden;
    background-color: #034f8c;
    color: #fefdf9;
    font-size: 4.5em;
    font-family: "Noto Sans Math", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.calculator .keyboard {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
}

.calculator .keyboard button {
    background-color: #fefdf9;
    border: 2px solid #fefdf9;   
    flex-basis: 80px;
    aspect-ratio: 1 / 1;
    border-radius: 20%;
    color: #011627;   
    font-size: 2em;       
    
    cursor: pointer;
}

.calculator .keyboard button:active {
    transform: scale(0.95);
}

.calculator .keyboard .operator {
    background-color: #f3d61a;
    border: 2px solid #f3d61a;
}

.calculator .keyboard #clear {
    background-color: #30CD8B;
    border: 2px solid #30CD8B;
    font-size: 1.25em;
}

.calculator .keyboard #equal {
    background-color: #FF7E94;
    border: 2px solid #FF7E94;
}